%div{style: "margin: 20px 20px 0px 20px"}
  .card
    .card-section
      .h1 Our Story
      %p We met when working for iTriage and both played for the company's recreational ultimate frisbee team. Alex had been playing since high school and Lisa was recruited because the coed team needed more women. Lisa is still terrible at frisbee to this day.
      %br
      %p We started becoming better friends and getting to know each other more. One day, Lisa asked Alex “how do you feel about the movie the Expendables?” And Alex mentioned how much he loved a good action movie. Lisa asked him out the next weekend.

      %br
      %p We started dating in October 2014 and currently enjoy their life in Denver. You can find them tending to their garden and beehives in the summer, and skiing or seeing a Broadway show in winter.
  .card
    .card-section
      %a{id: "pictures"}
      .h1 Pictures
    .card-section
      .grid-x.grid-margin-x
        .cell.medium-3
          = image_tag 'ChristmasParty_full.jpg', class: 'gallery cursor', "data-open" => "modal", "data-title" => "When It Began", "data-details" => "This gem is from the office Christmas party, at the place we met. We had been dating for less than two months when this was taken."
        .cell.medium-3
          = image_tag 'bees.jpg', class: 'gallery cursor', "data-open" => "modal", "data-title" => "Bees?!", "data-details" => "We have been keeping bees for three years now. Last summer, we harvested about 140 pounds of honey."
        .cell.medium-3
          = image_tag 'vienna.jpg', class: 'gallery cursor', "data-open" => "modal", "data-title" => "First Big Trip", "data-details" => "This was taken in Vienna, and was the start of our first big trip away together, where we travelled through Austria and Germany."
        .cell.medium-3
          = image_tag 'christmas.jpg', class: 'gallery cursor', "data-open" => "modal", "data-title" => "Christmas in Connecticut", "data-details" => "We have been spending Christmas with Alex's family in Connecticut together for the past three years. This picture was taken in 2017, at Christmas dinner in NYC."
    .card-section
      .grid-x.grid-margin-x
        .cell.medium-3
          = image_tag 'belize.jpg', class: 'gallery cursor', "data-open" => "modal", "data-title" => "Better Belize It!", "data-details" => "We took a trip to Belize together with some friends in 2018. Here's us exploring a Mayan ruin."
        .cell.medium-3
          = image_tag 'shipleys.jpg', class: 'gallery cursor', "data-open" => "modal", "data-title" => "Donuts", "data-details" => "Okay, so Lisa loves donuts. So, she picked this picture of us in Austin, at her favorite donut shop."
        .cell.medium-3
          = image_tag 'japan.jpg', class: 'gallery cursor', "data-open" => "modal", "data-title" => "Japan", "data-details" => "We got some stunning photos of the two of us in Japan to celebrate our engagement. Here's us on our best behavior."
        .cell.medium-3
          = image_tag 'peoplesjapan.jpg', class: 'gallery cursor', "data-open" => "modal", "data-title" => "Also Japan!", "data-details" => "And here's us, again in Japan, how we typically took pictures. Seen with the People's Eyebrow."



#modal.reveal.large.text-center{"data-reveal" => ""}
  .grid-x
    .cell.medium-3.text-left
      %h3#reveal-title
      %p#reveal-details
    .cell.medium-9
      %img#reveal-image
  %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
    %span{"aria-hidden" => "true"} &#215;

:javascript
  $(document).on('turbolinks:load', function(){
    $('.gallery').on('click', function(){
      $('#reveal-image').attr('src', $(this).attr("src"));
      $('#reveal-title').text($(this).attr("data-title"));
      $('#reveal-details').text($(this).attr("data-details"));
    });
  });

