!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "VanRielly Wedding"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body{style: "background-color: #cfd9ea"}
    %nav.top-bar.topbar-responsive
      .top-bar-title
        %span{"data-hide-for" => "medium", "data-responsive-toggle" => "topbar-responsive"}
          %button.menu-icon.hide-for-medium{"data-toggle" => "", :type => "button"}
        %a.topbar-responsive-logo{:href => "/"}
          %strong O'Rielly & VanArsdale Wedding
      #topbar-responsive.topbar-responsive-links
        .top-bar-right
          %ul.menu.simple.vertical.medium-horizontal
            %li
              %a{:href => "/story"} Our Story
            %li
              %a{:href => "/wedding"} Mountain Lodge
            %li
              %a{:href => "/altitude"} Travel Tips
            %li
              %a{:href => "/registry"} Registry
            %li
              %a{:href => "/invites"}
                .button.Travel{style: "margin-bottom: 0px"} RSVP
    - flashes = {notice: 'success', alert: 'alert'}
    - flashes.each do |key, value|
      - if flash[key]
        .callout{class: value, data: { alert: '' } }
          = flash[key]
    = yield
